html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
font-family: sans-serif;
color: #000;
}

.btn-small {
font-family: sans-serif;
color: #
}

.btn-big {
font-family: sans-serif;
color: #
}

.btn-subtle {
font-family: sans-serif;
color: #ccc;
}

.btn-ghost {
font-family: sans-serif;
color: #fff;
}

.btn-warning {
font-family: sans-serif;
color: #f33;
}
